.orthodox-calendar {

	.ocButton {
		margin: 4px 2px !important;

		&.day-current {
			display: flex;
			justify-content: center;
			align-items: baseline;
		}

		&.day-picker {
			svg {
				font-size: 32px;
			}
		}
	}
}
