/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import "react-resizable/css/styles.css";

.orthodox-calendar-block {
	font-family: arial, helvetica, sans-serif;
	position: relative;

	.ocButtonsBar {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		text-align: left;
		display: flex;
		justify-content: start;
		margin-bottom: 1em;
		flex-wrap: wrap;
  		padding: 10px;

		.ocDatePicker {
			margin: 4px 2px;
		}

		.ocBtnClose {
			margin: 0 0 0 auto;
		}
	}

	.ocButton {
		background-color: #808080;
		border: none;
		color: #fff;
		margin: 4px 2px;
		min-width: 32px;
		min-height: 32px;
		font-size: 12pt;
		text-decoration: none;
		position: relative;
		cursor: pointer;

		&.day-picker {
			svg {
				font-size: 32px;
			}
		}

		&.lang-toggle {
			text-transform: uppercase;
			margin: auto 0 auto auto;
		}
	}

	.normaltext,
	.minortext {
		font-weight: 400;
	}

	.dataheader,
	.headerheader,
	.headerfast,
	.headernofast,
	.scriptureheader,
	.troparionheader {
		font-weight: 700;
	}

	a {
		font-size: 10pt;
		font-weight: 700;
		text-decoration: none;
	}

	p.pdataheader,
	p.pheaderheader,
	p.pscriptureheader,
	p.ptroparionheader {
		word-spacing: 0;
		text-indent: 0;
		line-height: 1;
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	&.is-style-blue {

		.minortext {
			color: #757575;
		}

		.dataheader {
			color: #369;
		}

		.headerheader {
			color: #000;
		}

		.headerfast {
			color: #008000;
		}

		.headernofast {
			color: #ff5050;
		}

		.scriptureheader {
			color: #000;
		}

		.troparionheader {
			color: #000;
		}

		.troparionseparator {
			background-color: #33c;
		}

		p.pdataheader {
			line-height: 1.2;
			margin-top: 1.5em;
		}

		p.pheaderheader {
			line-height: 1.2;
			margin-top: 1.5em;
		}

		p.pscriptureheader {
			line-height: 1.2;
			margin-top: 1.5em;
		}

		p.ptroparionheader {
			line-height: 1.2;
			margin-top: 1.5em;
		}

		.ocButton {
			color: #656565;
			background-color: transparent;
		}

		.ocButton:hover {
			background-color: transparent;
			color: #8c8c8c;
		}

		.ocButton:active {
			position: relative;
			top: 1pt;
		}
	}

	&.is-style-grey {

		a:link {
			color: rgb(0, 0, 255);
		}

		a:visited {
			color: rgb(0, 0, 255);
		}

		a:hover {
			color: rgb(153, 153, 153);
		}

		a:link.main {
			color: #333;
		}

		a:visited.main {
			color: #333;
		}

		a:hover.main {
			color: #699;
		}

		a:active.main {
			color: #f00;
		}

		.normaltext {
			color: #000;
		}

		.minortext {
			color: #757575;
		}

		.dataheader {
			color: #699;
		}

		.headerheader {
			color: #000;
		}

		.headerfast {
			color: #008000;
		}

		.headernofast {
			color: #ff5050;
		}

		.scriptureheader {
			color: #000;
		}

		.troparionheader {
			color: #000;
		}

		.troparionseparator {
			background-color: #33c;
		}
	}

	&.is-style-red {

		a:link {
			color: rgb(0, 0, 255);
		}

		a:visited {
			color: rgb(0, 0, 255);
		}

		a:hover {
			color: rgb(153, 153, 153);
		}

		a:link.main {
			color: #800000;
		}

		a:visited.main {
			color: #800000;
		}

		a:hover.main {
			color: #c60;
		}

		a:active.main {
			color: #f00;
		}

		.normaltext {
			color: #000;
		}

		.minortext {
			color: #757575;
		}

		.dataheader {
			color: #f30;
		}

		.headerheader {
			color: #000;
		}

		.headerfast {
			color: #008000;
		}

		.headernofast {
			color: #ff5050;
		}

		.scriptureheader {
			color: #000;
		}

		.troparionheader {
			color: #000;
		}

		.troparionseparator {
			background-color: #800000;
		}
	}

	.display-box {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		background: white;
		border: 1px solid black;
		box-sizing: border-box;
		overflow: hidden;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		visibility: visible;
		opacity: 1;

		&-loading {
			display: block;
		}

		&-content {
			opacity: 1;
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			padding: 10px;
			visibility: visible;
			opacity: 1;
		}

		.ocButtonsBar {
			border-bottom: 2px solid #e3e3e3;
		}


		.ofd {
			&_los_header {
				font-weight: bold;
				font-size: 1.2em;
			}
		}
	}

	.hidden {
		display: none;
	}

	.fade-in {
		transition: opacity 0.5s linear;

		&.hidden {
			display: block;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s 0.5s, opacity 0.5s linear;
		}
	}
}
